<div class="inner cover">
  <h1 class="cover-heading">지도에 여행일지를 쓰세요</h1>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
  <p class="lead">
    <a href="/users/sign_in" class="btn btn-lg btn-default intro-button">시작하기!</a>
  </p>
</div>
