<div class="menu">
    <h1><%=@destination.title%></h1>
    <a href="/destinations">돌아가기</a>
</div>
<div id="map-canvas"></div>
<div class="list">
  <h1>여행 일지</h1>
  <ul>
  <% @destination.dispatches.each do |dispatch| %>
    <li><a href=""><%= dispatch.title %></a></li>
  <% end %>
  </ul>
</div>

<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag '/dispatches' do %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">여행 일지 쓰기</h4>
      </div>
      <div class="modal-body">
        제목 : <input type="text" name="title"> <br>
        시간 : <%= datetime_select('date', 'when') %> <br>
        감정<br>
        <select name="emotion">
            <option value="bad">구림</option>
        </select>
        <br>
        일기 : <textarea name="diary"></textarea> <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Save">
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: { lat: -34.397, lng: 150.644},
      zoom: 8
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
    
    google.maps.event.addListener(map, 'click', function(e) {
       var lat = e.latLng.lat();
       var lng = e.latLng.lng();
       
       $('.modal').modal();
    });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>