<div id="map-canvas"></div>
<div class="list">
  <h1>여행 일지</h1>
  <ul>
  <% @dispatches.each do |dispatch| %>
    <li><a href=""><%= dispatch.title %></a></li>
  <% end %>
  </ul>
</div>
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: { lat: -34.397, lng: 150.644},
      zoom: 8
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>